# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# prisma
/generated

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store

# coverage
/coverage
/.nyc_output

*.tsbuildinfo
